@font-face {
  font-family: 'Poppins';
  src: url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

p, h1, div, textarea {
  font-family: Poppins;
}

body {
  background-color: #0099ff;
}

html {
  scroll-behavior: smooth;
}

#root {
  zoom: 1;
}

@media screen and (max-width: 450px) {
  #root {
    zoom: .7;
  }
}

@media screen and (max-width: 325px) {
  #root {
    zoom: .6;
  }
}